/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
  font-size: 16px;
  background-color:#45E3F2;
  /* Declare the base font-family - from google font api or other */
}

header, nav, main, footer { /* the comma means apply the following CSS declarations to all of the listed elements */
  /* Declare the maximum width and other main element rules to limit the stretch on wide views */
}

header {}
header h1 {color: #B84DF4;
				font-family: "Roboto Slab", serif;
				font-size: 24px;
				margin-top: 5%;
				margin-left:75px;
				display:flex;
				}
header img {position:relative;
				border:solid 2.5px black;
				background-color:#45E3F2;
				width:20%
			
				}
header .subheading {color: #FFB046;
				font-family: "Roboto Slab", serif;
				font-size: 16px;
				text-align: center;
				padding-bottom:1px;
				}
				
.ham { display: flex; position: absolute;top: 2.0rem;right: 1.25rem; }

.navi { list-style: none; padding-left: 0; }
.navi li { display: none; }
.navi.responsive { position: relative; }
.navi.responsive li { background-color: #eee; display: flex; justify-content: center; width: 100%; margin: 2px 0; border: 1px solid #ddd; }
.navi.responsive li a {   padding: 1rem; text-align: center;  display: flex; text-decoration:none; }.navigation.responsive li a:hover { background-color: #ddd; }
}


main {}
main h2 {text-align:center;
		 font-family: "Roboto Slab", serif;
		 font-size: 24px;
		 color:#FFB046;}
main .pics{
	display:grid;
	grid-template-columns: 1fr;
	grid-gap: 2em;
	padding:.5em;
}
main .pics div{
	border-style:solid;
	border-color:#B84DF4;
}
main .pics div:hover{
	box-shadow:20px 10px #FFB046;
}
main .pics div img{width:100%;
}
		 
footer {background-color: #FFB046;
		text-align: center;
		font-family:"Comic Sans MS", sans-serif;
		}
		
footer aside {
			  }
footer>p {} /* This structure refers to p elements that are direct children of the footer element */

/* Other Class Selectors */
 