@media only screen and (min-width: 37.5em) {
  /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
  
  nav button { display:none; }  /* hamburger button does not need to be shown */
  
  section.forecast { display: flex; flex-direction: column;}  /* show the 10-day forecast with the medium view and up */
  
  article p.town-article img { width: 62.666%; display: flex; justify-content: flex-end; }  /* responsive images */

  * { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
	font-size: 16px;
	background-color:#60c400;
	/* Declare the base font-family - from google font api or other */
  }
  
header, nav, main, footer {max-width:100%; /* the comma means apply the following CSS declarations to all of the listed elements */
	/* Declare the maximum width and other main element rules to limit the stretch on wide views */
  }
  
header {background-color: #08588c;
	  display:flex;}
header .headers h1 {color:#FC5820;
		font-family: "Fria sans", serif;
		font-size: 24px;
		margin-left:5px;
		text-align:center;
		}
header img {border:solid 2.5px #FC5820;
			width:100px;
			}
header .headers{width: 100%;}
  
header .headers .heading {color: #FC5820;
		 font-family: "Fria sans", serif;
		 font-size: 20px;
		 text-align: center;
		  }

.ham { visibility: hidden;}

.navi { visibility:visible;
	background-color:#FC5820;
	font-family:"sans-serif", serif;
	font-size: 18px;
	display:flex;
	text-align:center;
	padding:1.3em;
	margin-bottom:5px;}
	
.navi li { display:flex;
	flex: 2;}
.navi li.active { display:flex;
		flex: 2; background-color:#60c400;}
.navi li.active a  { display:flex;
			flex: 2;  background-color:#60c400;}
.navi.responsive { position: relative; }
.navi.responsive li { background-color: #eee; display: flex; width: 100%; margin: 2px 0; border: 1px solid #ddd; }
.navi.responsive li a {   padding: 1rem; text-align: center;  display: flex; text-decoration:none; }
.navigation.responsive li a:hover { background-color: #ddd; }


main{font-family: "sans serif", serif;
	text-align: center;
	color: #08588c;
	padding:1em;
	}
main h2 {text-align:center;
		 font-family: "Fria sans", serif;
		 font-size: 24px;
		 color:#FC5820;}
main h3{text-align:center;
		font-family: "Fria sans", serif;
		font-size: 20px;
		color:#FC5820;}

main figure { margin: 0 0 .2rem 2%; width:96%; }
main figure img {width:95%;
				 padding:.5em;
				 text-align:center;
				 margin-left:2.5%;
				}
main h4{text-align:center;
		font-family: "Fria sans", serif;
		font-size: 20px;
		color:#FC5820;}		 




footer {background-color: #08588c;
	color:#FC5820;
	text-align: center;
	font-family:"Fria sans", sans-serif;
	}
	
footer aside {
			  }
footer>p {} /* This structure refers to p elements that are direct children of the footer element */

/* Other Class Selectors */
}* This main css file contains the default rules and is geared toward the small/phone view */

