/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
	font-size: 16px;
	background-color:#60c400;
	/* Declare the base font-family - from google font api or other */
  }
  
  header, nav, main, footer {max-width:100%; /* the comma means apply the following CSS declarations to all of the listed elements */
	/* Declare the maximum width and other main element rules to limit the stretch on wide views */
  }
  
  header {background-color: #08588c;
	  display:flex;}
  header .headers h1 {color:#FC5820;
		font-family: "Fria sans", serif;
		font-size: 24px;
		margin-left:5px;
		text-align:center;
		}
  header img {border:solid 2.5px #FC5820;
		  width:100px;
		  }
  header .headers{width: 100%;}
  
  header .headers .heading {color: #FC5820;
		 font-family: "Fria sans", serif;
		 font-size: 20px;
		 text-align: center;
		  }
				
.ham { display: flex; position: absolute;top: 2.0rem;right: 1.25rem; }

.navi { list-style: none; padding-left: 0; }
.navi li { display: none; }
.navi.responsive { position: relative; }
.navi.responsive li { background-color: #eee; display: flex; justify-content: center; width: 100%; margin: 2px 0; border: 1px solid #ddd; }
.navi.responsive li a {   padding: 1rem; text-align: center;  display: flex; text-decoration:none; }
.navi.responsive li.active a {background-color:#60c400; padding: 1em; text-align: center;  display: flex; text-decoration:none; }
.navigation.responsive li a:hover { background-color: #ddd; }

*{
	box-sizing:border-box;
}
main{font-family: "sans serif", serif;
	text-align: center;
	color: #08588c;
	padding:1em;
	}
main h2 {text-align:center;
		 font-family: "Fria sans", serif;
		 font-size: 24px;
		 color:#FC5820;}
main h3{text-align:center;
		font-family: "Fria sans", serif;
		font-size: 20px;
		color:#FC5820;}
main h4{text-align:center;
	font-family: "Fria sans", serif;
	font-size: 20px;
	color:#FC5820;}
.form{
	max-width: 1000px;
	margin-left:auto;
	margin-right:auto;
	padding:1em;
	box-shadow:0 0 25px 0 #FC5820;
}

span{
	padding:1em;
}

footer {background-color: #08588c;
	color:#FC5820;
	text-align: center;
	font-family:"Fria sans", sans-serif;
	}
		
footer aside {
			  }
footer>p {} /* This structure refers to p elements that are direct children of the footer element */

/* Other Class Selectors */